#loginForm {
    width: 350px;
    border: 2px solid black;
    margin: auto;
    
}

#registerFrom{
    width: 350px;
    border:  2px solid black;
    margin: auto;
}

#navBar{
    background-color: black;
    height: 80px;
    flex: auto;
}